# Terraform local state and backups
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
kaggle.json
*.tfvars
*.tfstate*
.terraform/
# SSH Keys
lab-key
lab-key.pub
note.md
# Environment Variables
.env
.env.local
ssh_config